<h1>Listing properties</h1>



  
    <% @properties.each do |property| %>
	<div class="col-md-4">
		<p>
			<%= image_tag property.photo.url(:thumb)%><br>
			<strong>Address: </strong><%= property.address %><br>
			<strong>Price: </strong><%= property.price %><br>
			<strong>Bedrooms: </strong><%= property.bedrooms %><br>
			<strong>Bathrooms: </strong><%= property.bathrooms %><br>
			<strong>Description: </strong><%= truncate(property.description) %><br>
			<p><%= link_to 'Show More...', property %> 
				<% if admin? %>
					  | <%= link_to 'Edit', edit_property_path(property) %> | 
					<%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %>
				 <% end %>
			
			
		</p>
	</div>
    <% end %>

<div style="clear: both;"></div>


<%= will_paginate @properties %>
<% if admin? %>
<p><%= link_to 'New Property', new_property_path, class:"btn btn-warning" %><p>
<% end %>