<div class="jumbotron">

	<%= render "shared/carousel" %>

</div>

<hr class="featurette-divider">
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Browse Properties</h2>
			<p>Browse newly uploaded properties in the properties section or simply click this button below to start browsing now</p>
			<%= link_to "Browse Now!",properties_path, class:"btn btn-default"%>
		</div>
		<div class="col-md-4">
			<h2>Customer is our focus</h2>
			<p>Our company is a startup company building up ties with new customers. We value our customers and provide them with the most benefits than any other real estate</p>
			<%= link_to "Read More", about_path, class:"btn btn-default"%>
		</div>
		<div class="col-md-4">
			<h2>Any Question</h2>
			<p>You can contact us through email at any time of the day. Phone line is available only Monday to Friday, 8 am to 5 pm</p>
			<%= link_to "Go to Contact Page", contact_path, class:"btn btn-default"%>
		</div>
	</div>
</div>
<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading">We have got you <span class="text-muted">Covered</span></h2>
		<p class="lead">The real estate broker or real estate agent is a person who acts as an intermediary between sellers and buyers of real estate/real property and attempts to find sellers who wish to sell and buyers who wish to buy. Glad you made the right choice by coming here.</p>
	</div>
	<div class="col-md-5">
	<%= image_tag('1.jpg', size:"460x320", alt: "300x500") %>
	</div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
        <div class="col-md-5">
          <%= image_tag('2.jpg', size:"460x320", alt: "300x500") %>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">We simply work with the <span class="text-muted">best</span></h2>
          <p class="lead">Our company works wih the best Associates and brokers in the area of fraser valley and regions including vancouver. We take care of all of your transactions from beginning to end to protect your investment against fraudlent and provides money protection.</p>
        </div>
      </div>
	  
<hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Anywhere in <span class="text-muted">British Columbia.</span></h2>
          <p class="lead">We have expand our network to almost every city and town of british columbia with the help of our wonderful associates and hard working property brokers.</p>
		  <p class="lead">Some of cities that we cover include Surrey, Abbotsford, Chilliwack, Mission, Maple Ridge, Burnaby, Vancouver, Richmond, West Minister and many more.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag('3.jpg', size:"460x320", alt: "300x500") %>
        </div>
      </div>
